body{
  margin:0;
  font-family:Arial;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background:linear-gradient(135deg,#667eea,#764ba2);
}

.card{
  background:#fff;
  padding:40px;
  border-radius:18px;
  width:380px;
  text-align:center;
  box-shadow:0 15px 40px rgba(0,0,0,0.25);
}

/* LOGO */

.logo{
  width:120px;
  margin-bottom:15px;
}

h2{
  margin-bottom:20px;
}

input{
  width:100%;
  padding:14px;
  margin:12px 0;
  border-radius:10px;
  border:1px solid #ccc;
}

button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:10px;
  background:linear-gradient(135deg,#667eea,#764ba2);
  color:#fff;
  font-weight:bold;
  cursor:pointer;
}

.footer{
  margin-top:25px;
  font-size:13px;
}

.footer a{
  color:#667eea;
  text-decoration:none;
  font-weight:bold;
}

.logout{
  display:inline-block;
  margin-top:15px;
  color:#c33764;
  text-decoration:none;
  font-weight:bold;
}
